@using Ninject
@using Auction.Ioc
@using Auction.BLL.Interfaces
@{
    Layout = "~/Pages/Layouts/_HeaderLayout.cshtml";

    if (User.Identity.IsAuthenticated)
    {
        Response.Redirect("~");
    }
}

@if (IsPost)
{
    string message;
    if (Request["Action"] == "SignUp")
    {
        var userLogic = DependencyResolver.Kernel.Get<IUserLogic>();
        userLogic.Registartion(Request["Username"], Request["Password"], Request["RepeatPassword"], out message);
        <script>alert('@message')</script>
    }
    else if (Request["Action"] == "SignIn")
    {
        var userLogic = DependencyResolver.Kernel.Get<IUserLogic>();
        if (userLogic.Login(Request["Username"], Request["Password"], out message))
        {
            FormsAuthentication.SetAuthCookie(Request["Username"], createPersistentCookie: true);
        }
        <script>alert('@message')</script>
        Response.Redirect("~");
    }
}


<div class="login-btn-container">
    <button onclick="openModalWindow('sign-in-modal-window')">Sign In</button>
    <button onclick="openModalWindow('sign-up-modal-window')">Sign Up</button>
</div>

<div class="modal-window" id="sign-in-modal-window">
    <form action="~/Pages/Login.cshtml" method="post" class="modal-window-content" enctype="multipart/form-data">
        <div class="button-close-modal-window" onclick="closeModalWindow('sign-in-modal-window')">&times;</div>
        <h1>Sign In</h1>

        <input required maxlength="32" minlength="4" type="text" name="Username" value="" placeholder="Username" />
        <input required maxlength="32" minlength="4" type="password" name="Password" value="" placeholder="Password" />

        <input type="text" name="Action" value="SignIn" class="hidden" />

        <button>Login</button>
    </form>
</div>

<div class="modal-window" id="sign-up-modal-window">
    <form action="~/Pages/Login.cshtml" method="post" class="modal-window-content" enctype="multipart/form-data">
        <div class="button-close-modal-window" onclick="closeModalWindow('sign-up-modal-window')">&times;</div>
        <h1>Registration</h1>

        <input required maxlength="32" minlength="4" type="text" name="Username" value="" placeholder="Username" />
        <input required maxlength="32" minlength="4" type="password" name="Password" value="" placeholder="Password" />
        <input required maxlength="32" minlength="4" type="password" name="RepeatPassword" value="" placeholder="Repeat password" />

        <input type="text" name="Action" value="SignUp" class="hidden" />

        <button>Sign Up</button>
    </form>
</div>


<script src="~/Scripts/modal.js"></script>
